@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
    --primary-color: #91c2d3;
    --primary-color-dark: #698e9b;
    --secondary-color: #273036;
    --secondary-color-light: #556772;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    padding-top: 10vh;
    min-height: 90vh;
    margin: 0;
}

main {
    min-height: 60vh;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

.header-content {
    display: flex;
    width: 90%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 5%;
}

.logo a {
    display: inline-block;
}
.logo .x-logo,
.x-logo {
    color: var(--primary-color);
    display: inline-block;
}
.logo h3 {
    color: var(--secondary-color);
    display: inline-block;
}

.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: auto 2vw;
}

.nav-link {
    color: grey;
}

.nav-link:after {
    display: block;
    content: "";
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border-bottom: 3px solid var(--primary-color);
}
.nav-link:hover:after,
.active {
    transform: scaleX(1);
    border-bottom: 3px solid var(--primary-color);
    color: black;
}

a {
    text-decoration: none;
}

.hero {
    width: 100%;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    height: 40vh;
    width: 90%;
    margin: 10vh auto;
}

.hero .img-container {
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    border-radius: 50%;
}

.hero .img-container img {
    height: 40vh;
    margin-left: -120px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
}

.hero .text h1 {
    margin-bottom: 35px;
    font-size: 48px;
    text-align: left;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 35px;
}
.wave-hero {
    position: relative;
    bottom: 0;
    width: 100%;
}

svg {
    display: flex;
}

.wave-person {
    background: var(--primary-color);
}

.person-wrapper {
    background: var(--primary-color);
}

.person {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.person-text {
    width: 60%;
    color: white;
}

.name {
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.person-img-container {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.person-img-container img {
    display: inline;
    margin: -30% auto auto auto;
    height: auto;
    width: 100%;
}

.wave-footer {
    position: relative;
    bottom: 0;
    /* background: var(--primary-color); */
    z-index: 0;
}

footer {
    background: var(--secondary-color);
    color: white;
    text-align: center;
    padding-bottom: 25px;
    height: 70px;
    z-index: 1;
    position: relative;
    bottom: 0;
}

.logo-footer {
    display: flex;
}

.credits {
    font-size: 8px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.form-table {
    margin-bottom: 5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
}

.title {
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

table th,
table td {
    padding: 0.5rem;
    margin: 0;
    border: 1px solid lightgray;
    color: var(--secondary-color);
}

table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}
.details-button,
.edit-button,
.delete-button {
    display: inline-block;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    margin: .2rem;
    color: white;
    font-size: 0.8rem;
}

.details-button {
    background-color: rgb(81, 172, 141);
    transition: background-color 0.2s ease-in-out;
}

.details-button:hover {
    background-color: rgb(69, 136, 114);
    transition: background-color 0.2s ease-in-out;
}

.edit-button {
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.edit-button:hover {
    background-color: var(--primary-color-dark);
    transition: background-color 0.2s ease-in-out;
}

.delete-button {
    background-color: rgb(199, 94, 94);
    transition: background-color 0.2s ease-in-out;
}

.delete-button:hover {
    background-color: rgb(179, 85, 85);
    transition: background-color 0.2s ease-in-out;
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    height: 100%;
    margin: 2rem auto 0 auto;
}

.booking h2 {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
}

.main-button,
.secondary-button {
    display: inline-block;
    border: none;
    text-decoration: none;
    width: auto;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    transition: background-color 0.2s ease-in-out;
    font-size: .8rem;
}

.main-button:hover {
    background-color: var(--primary-color-dark);
    transition: background-color 0.2s ease-in-out;
}

.main-button {
    background-color: var(--primary-color);
}

.secondary-button {
    background-color: var(--secondary-color-light);
}

.secondary-button:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.2s ease-in-out;
}

.secondary-button a {
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.input label {
    text-align: right;
    margin: 0.5rem 0.5rem 0.2rem 0;
}

.input input{
    width: 40%;
}
.input select {
    width: 40%;
}

.main-container .logo {
    margin: 2.5rem auto;
}

.main-container .logo img {
    height: 3.5rem;
}

.errors-text {
    font-size: 0.85em;
    text-align: center;
    grid-column: 1 / -1;
    color: #e75241;
}
form input.error-input,
form select.error-input {
    border: 2px solid #e75241;
}

@media (max-width: 768px) {
    .navigation {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: white;
        transform: translateX(100%);
    }

    .navigation--active {
        transform: translateX(0);
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }

    .navigation ul li {
        font-size: 1.5rem;
    }

    .hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
        position: fixed;
        right: 2rem;
        z-index: 3;
    }

    .hamburger,
    .navigation {
        transition: transform 0.3s 0.1s ease-in-out;
    }

    .hamburger__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger__inner {
        width: 100%;
        height: 3px;
        background-color: var(--secondary-color);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.1s 0.2s ease-in-out;
    }

    .hamburger__inner::before,
    .hamburger__inner::after {
        width: 100%;
        height: 3px;
        background-color: var(--secondary-color);
        position: absolute;
        content: "";
        left: 0;
        transition: transform 0.2s 0.2s ease-in-out;
    }

    .hamburger__inner::before {
        top: -10px;
    }

    .hamburger__inner::after {
        top: 10px;
    }

    .hamburger--active .hamburger__inner {
        background-color: transparent;
    }

    .hamburger--active .hamburger__inner:before {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger--active .hamburger__inner:after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .hero {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url("../img/barber_hero.jpeg");
    }

    .overlay {
        background-color: #5567729c;
        width: 100vw;
        height: 100vh;
    }

    .wave-hero {
        position: absolute;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-wrapper .text,
    .hero-wrapper h1 {
        margin: auto;
        color: white;
    }

    .hero-wrapper .img-container {
        display: none;
    }

    .footer-info .contact {
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }
    .person-wrapper .person {
        display: flex;
        flex-direction: column;
    }
    .person .img-container {
        width: 75px;
        height: 75px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    tr:nth-of-type(odd) {
        background: var(--secondary-color-light);
    }
    tr:nth-of-type(odd) td {
        color: white;
    }
}
