<footer>
    <div class="footer-info">
        <div class="logo-footer">
            <h3 class="x-logo">X</h3><h3>Barbershop</h3>
        </div>
        <div class="contact">
            <p>Aroniowa,<br>
                00-234 Warsaw<br>
                +48 XXX XXX XXX<br>
                contact@flowdesign.com
            </p>
        </div>
    </div>
    <div class="credits">Jakub Adamczyk s18730</div>
</footer>