<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="icon" href="../../img/x-thumbnail.png">
    <link rel="stylesheet" href="../../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="logo">
        <a href="../index.html">
            <h3 class="x-logo">X</h3><h3>Barbershop</h3>
        </a>
        </div>
        <h1 class="title">Details</h1>
        <form action="">
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="Jan Król" disabled>
                <span id="errorName" class="errors-text"></span>
            </div>
            <div class="input">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" value="jkrol@gmail.com" disabled>
                <span id="errorEmail" class="errors-text"></span>
            </div>
            <div class="input">
                <label for="phone">Phone number:</label>
                <input type="tel" name="phone" id="phone" pattern="[0-9]{9}" value="+48 502 939 325" disabled>
                <span id="errorPhone" class="errors-text"></span>
            </div>
            <div class="buttons">
                <input type="button" class="secondary-button" value="Back" onclick="history.go(-1)" formnovalidate>
                <button class="main-button"><a href="./edit-client.html">Edit</a></button>
            </div>
        </form>
        <div class="main-container">
            <h1 class="title">Clients appointments</h1>
            <table>
                <thead>
                    <th>Service</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Actions</th>
                </thead>
                <tr>
                    <td>Haircut</td>
                    <td>90 PLN</td>
                    <td>29/10/2020 14:00</td>
                    <td>
                        <button class="edit-button"><a href="../FORMS/edit-client.html">Edit</a></button>
                        <button class="delete-button"><a href="#">Delete</a></button>
                    </td>
                </tr>
                <tr>
                    <td>Haircut</td>
                    <td>90 PLN</td>
                    <td>29/10/2020 14:00</td>
                    <td>
                        <button class="edit-button"><a href="../FORMS/edit-client.html">Edit</a></button>
                        <button class="delete-button"><a href="#">Delete</a></button>
                    </td>
                </tr>
                <tr>
                    <td>Haircut</td>
                    <td>90 PLN</td>
                    <td>29/10/2020 14:00</td>
                    <td>
                        <button class="edit-button"><a href="../FORMS/edit-client.html">Edit</a></button>
                        <button class="delete-button"><a href="#">Delete</a></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>