<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="icon" href="../../img/x-thumbnail.png">
    <link rel="stylesheet" href="../../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script type="application/javascript" src="../../JS/validateAppointmentForm.js"></script>
    <script type="application/javascript" src="../../JS/validationCommon.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="logo">
            <a href="../index.html">
                <h3 class="x-logo">X</h3><h3>Barbershop</h3>
            </a>
         </div>
        <h1 class="title">Fill out the form below</h1>
    <form action="" novalidate onsubmit="return validateForm();">
        <div class="input">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" list="namelist" required placeholder="Name Surname"> 
            <datalist id="namelist">
                <option value="Jan Król">Jan Król</option>
                <option value="Jan Król">Jan Król</option>    
                <option value="Jan Król">Jan Król</option>
                <option value="Jan Król">Jan Król</option>
            </datalist>
            <span id="errorName" class="errors-text"></span>
        </div>
        <div class="input">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" list="emaillist" required placeholder="example@gmail.com">
            <datalist id="emaillist">
                <option value="jkrol@gmail.com">jkrol@gmail.com</option>
                <option value="jkrol@gmail.com">jkrol@gmail.com</option>    
                <option value="jkrol@gmail.com">jkrol@gmail.com</option>
                <option value="jkrol@gmail.com">jkrol@gmail.com</option>
            </datalist>
            <span id="errorEmail" class="errors-text"></span>
        </div>
        <div class="input">
            <label for="phone">Phone number:</label>
            <input type="tel" name="phone" id="phone" pattern="[0-9]{9}" list="tellist" required  placeholder="123456789">
            <datalist id="tellist">
                <option value="503 492 230">503492230</option>
                <option value="503 492 230">503492230</option>
                <option value="503 492 230">503492230</option>
                <option value="503 492 230">503492230</option>
            </datalist>
            <span id="errorPhone" class="errors-text"></span>
        </div>
        <div class="input">
            <label for="service">Service</label>
            <select name="service" id="service">
                <option value="Haircut">Haircut</option>
                <option value="Trim">Trim</option>
                <option value="Beard trim">Beard trim</option>
            <option value="Combo">Combo</option>
            </select>
            <span id="errorService" class="errors-text"></span>
        </div>
        <div class="input">
            <label for="date">Date:</label>
            <select name="date" id="date">
                <option value="24/10/2020 14:00">24/10/2020 14:00</option>
                <option value="24/10/2020 15:00">24/10/2020 15:00</option>
                <option value="24/10/2020 16:00">24/10/2020 16:00</option>
                <option value="24/10/2020 17:00">24/10/2020 17:00</option>
                <option value="24/10/2020 18:00">24/10/2020 18:00</option>
                <option value="24/10/2020 19:00">24/10/2020 19:00</option>
                <option value="24/10/2020 20:00">24/10/2020 20:00</option>
                <option value="25/10/2020 14:00">25/10/2020 14:00</option>
            </select>
            <span id="errorDate" class="errors-text"></span>
        </div>
        <div class="buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="button" class="secondary-button" value="Back" onclick="history.go(-1)" formnovalidate>
            <input type="submit" value="Book" class="main-button" />
        </div>
    </form>
    </div>
</body>
</html>